<h1 class="text-center my-5">PRODUCTOS</h1>
<div class="container d-flex flex-column justify-content-center my-5">
    {{#if empty}}
    <div class="p-5 rounded alert alert-danger p-5 rounded">
        <h2 class="text-center ">
            LISTA DE PRODUCTOS VACIA
        </h2>
    </div>
    {{else}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="col">{{this.id}}</th>
                <th scope="col">{{this.title}}</th>
                <th scope="col">$ {{this.price}}</th>
                <th scope="col"><img src={{this.thumbnail}}></th>

            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <a href="/" class="my-5 align-self-center">
        <button class="btn btn-secondary" type="button">VOLVER AL FORMULARIO DE CARGA</button>
    </a>
</div>