<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body style="background-color: #3d3d76;">
        <h1 class="text-center my-5">PRODUCTOS</h1>
        <div class="container d-flex flex-column justify-content-center my-5">
            <% if (empty) { %>
                <div class="alert alert-danger p-5 rounded">
                    <h2 class="text-center ">
                        LISTA DE PRODUCTOS VACIA
                    </h2>
                </div>
                <% } else { %>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Thumbnail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(product=> { %>
                                <tr>
                                    <th scope="col">
                                        <%= product.id %>
                                    </th>
                                    <th scope="col">
                                        <%= product.title %>
                                    </th>
                                    <th scope="col">
                                        <%= product.price %>
                                    </th>
                                    <th scope="col"><img src=<%=product.thumbnail %>></th>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
                        <a href="/" class="my-5 align-self-center">
                            <button class="btn btn-secondary" type="button">VOLVER AL FORMULARIO DE CARGA</button>
                        </a>
        </div>
    </body>

</html>